* {
    box-sizing: border-box;
    margin: ;
    padding: ;
  }

h1 {
    text-align: center;
    margin-bottom: 30px;
  }

#container{
    /* border: 1px solid black; */
}

#sect-1, #sect-2, #sect-3{
    position: relative; 
}

.fruit-1, .fruit-2, .fruit-3{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid blue;
}

p{
    /* padding: 10px; */
    border: 1px solid black;
}

/* Desktop devices */
@media(min-width: 992px) {
	

/* Tablet devices */
@media(min-width: 768px) and (max-width: 991px){
	
}


/* Mobile devices */
@media(max-width: 767px){

}